node_modules/
build/
.env


*.pyc
__pycache__/
db.sqlite3
.env


*.log
*.sqlite3
*.DS_Store
.vscode/

*.zip
*.mp4


echo "backend/.env" >> .gitignore
git rm --cached backend/.env
git add .gitignore
git commit -m "Removed .env from tracking and added to .gitignore"

